.message
  .upper-info
    %p.upper-info__text user name
    %P.upper-info__data 2019/04/22(Mon)21:59:04
  %p.message__text test text1
.message
  .upper-info
    %p.upper-info__text user name2
    %P.upper-info__data 2019/04/22(Mon)22:19:06
  %p.message__text test text2
  