.message
  .upper-info
    %p.upper-info__text
      = messages.user.name
    %P.upper-info__data
      = messages.created_at.strftime("%Y/%m/%d %H:%M")
  - if messages.content.present?
    %p.message__text
      = messages.content
      = image_tag messages.image.url, class: 'lower-message__image' if messages.image.present?