.side_header
  %p.sideheader__user-name nakamura
  %ul.user-menu
    %li.user-menu__edit-user
      = link_to do
        %i.fa.fa-edit
    %li.user-menu__new-group
      = link_to do
        %i.fa.fa-cog
.groups
  = link_to do
    .group
      %p.group__group-name test1
      %p.group__group-latest-message hello world
    .group
      %p.group__group-name test2
      %p.group__group-latest-message hello world
